*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Navbar styles  */
.navbar{
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-name{
    padding-left: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.follow-us{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-menu{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 20px;
}
.game-name{
    font-size: 2rem;
}
.g{
    color: rgb(250, 99, 124);
}